.select{
  width: 200px;
  margin-left: 15px;
  border: 2px solid rgba(171, 182, 194, 0.4);
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.select:hover, .select:focus{
  border-color: rgb(54, 58, 61);
}

@media (max-width: 425px){
  .select{
    width: 295px;
  }
}
