.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px;
  width: 90%;
  max-width: 600px;
  box-sizing: border-box;
}

.title{
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 400;
  text-align: center;
}

.link{
  height: 15px;
  padding: 15px 30px;
  text-decoration: none;
  background-color: rgb(0, 188, 212);
  border-radius: 5px;
  font-size: 14px;
  color: white;
}

.link:hover{
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4) ;
}