.card{
  height: 130px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-top: 20px;
}

.card:hover{
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
}

.iconContainer{
  flex-basis: 20%;
  margin: 0;
  margin-left: 5%;
}

.icon{
  max-width: 100%;
}

.detailsBox{
  align-self: stretch;
  flex-basis: 65%;
  border-left: 1px solid lightgray;
  padding: 10px;
}

.title{
  margin: 0;
  font-size: 16px;
}

.price{
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

.details{
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}

.details span{
  font-size: 14px;
}

.leadTime{
  margin: 0;
  margin-top: 5px;
}

.leadTime span{
  font-weight: 600;
}

.internalContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progressBackground{
  width: 80%;
  height: 10px;
  border-radius: 30px;
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: flex-start;
}

.checkCircle{
  width: 20px;
  background-color: aliceblue;
  height: 20px;
  border-radius: 30px;
  border: 3px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 425px){
  .card{
    flex-basis: 100%;
  }
}