.filterHeading{
  font-size: 14px;
  margin:0;
  margin-left: 15px;
  margin-top: 15px;
}

.itemsContainer{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 0;
}